/* @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One'); */
@import url('https://fonts.googleapis.com/css?family=Krona+One');


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: Krona One, sans-serif;
  color: #fff;
}

.App-settings {
  flex: 0 0 25%;
  padding: 0.5em 1.5em;
  background: #222;
}

.App-settings h3 {
  margin-top: 3em;
}

.App-settings .rc-slider {
  margin: 1em;
  width: calc(100% - 2em);
}

.App-settings .rc-slider-track {
  background-color: #fff;
}

.App-settings .rc-slider-handle {
  border: solid 2px #fff;
}

.App-settings .rc-slider-handle:focus {
  border-color: #ccc;
  border-width: 5px;
  box-shadow: none;
}

.App-settings .rc-slider-dot {
  border: solid 2px #fff;
}

.App-settings .rc-slider-mark-text-active,
.App-settings .rc-slider-mark-text {
  color: #fff;
}

.App-content {
  flex: 0 0 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.rc-color-picker-panel-params {
  display: none;
}
